body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: #0a7bff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #fef96f;
  font-family: "Titillium Web", sans-serif;
  text-shadow: 3px 3px #ed588d;
  font-size: 200px;
  line-height: 0.8em;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  width: 800px;
}

main a {
  color: white;
}

section {
  font-size: 20px;
  line-height: 28px;
}

footer {
  text-align: center;
  font-size: 40px;
}
