!!!
%html
  %head
    %title Very Nice Code
    %link(href="/images/favicon.png" rel="icon" type="image/png")
    %link(href="https://fonts.googleapis.com/css?family=Montserrat:500|Titillium+Web:900" rel="stylesheet")
    = stylesheet_link_tag "site"
  %body
    %main
      %header
        %h1<
          VERY
          %br>
          NICE
          %br>
          CODE
      %section= yield
      %footer
        %p
          &copy; #{Time.now.year}
          %a(href="http://jonallured.com") Jon Allured
          \|
          %a(href="https://github.com/verynicecode/vnc-site") view source
