%p
  Imagine the very nicest code you can - whoa, not that nice! I'm just talking
  about code that's cheap to change and easy to read. You know, the good stuff!

%p
  I try to write code like that. It's not always easy because sometimes these
  computers don't want to be programmed. Anyway, this is my company website,
  can you believe it!
