%p
  Imagine the nicest code you can - whoa, not that nice! I'm just talking about
  code that's cheap to change and easy to read. This is the type of code that I
  try to write even if sometimes these computers don't want to be programmed.
  Anyway, this is my company website, can you believe it!
