%p
  Imagine the nicest code you can - whoa, not that nice! I'm just talking
  about code that's cheap to change and easy to read. This is what I try to
  write and sometimes these computers don't want to be programmed so it can
  be really difficult! Anyway, this is my company website, can you believe
  it!
